<div class="jumbotron">
  <div class="home-text">
    <h1 class="home-title">VidLinkz</h1>
    <p class="home-paragraph">Save all your favorite web videos, all on one site. Sign up today to begin.</p>
  </div>
</div>
