<h1>Your Folders</h1>

<h3>Select Folder To Add Video</h3>

<ul>
  <% @folders.each do |f| %>
    <li><%= link_to f.name, add_video_to_folder_path(@video, f.id), method: 'PATCH' %></li>
  <% end %>
</ul>
